@import "@g33kchris/fusionkit-css-colours";
@import "@g33kchris/fusionkit-css-responsive";

.root {
    background-color: var(--fskt_blandGrey);
    color: var(--fskt_charcoal);
}

.logo {
    height: 3.8rem;
    padding: 0.8rem;

    @media (--mqTblt_above) {
        float: left;
    }
}

.links {
    float: right;
}

.item {
    display: inline-block;
}
