@import "@g33kchris/fusionkit-css-layout";
@import "@g33kchris/fusionkit-css-responsive";

.root {
    /*composes: root from '../../_molecules/HeaderRibbon/themes/LightBgSecondaryBorder.css';*/
}

.wrapper {
    composes: gridWrapper from '@g33kchris/fusionkit-css-layout';
}

.left {
    @apply --grid_xl_2;
    @apply --grid_dskTp_2;
    @apply --grid_tblt_1;
    @apply --grid_phblt_6;
    @apply --grid_smtPn_4;

    @media (--mqTblt_above) {
        text-align: left;
    }

    @media (--mqTblt_below) {
        text-align: center;
    }
}

.right {
    @apply --grid_xl_10;
    @apply --grid_dskTp_10;
    @apply --grid_tblt_7;

    @media (--mqTblt_above) {
        text-align: right;
    }

    @media (--mqTblt_below) {
        display:none;
    }
}

/*@import '../../_styles/variables/layout.css';



.wrapper {
    lost-center: var(--maxWidth);
}

.left {
    
}

.right {
    
}


.list {
    display: inline-flex;

    @media (--mqPhblt) {
        width: 100%;
    }

    @media(--mqSmtPn) {
        width: 100%;
        flex-wrap: wrap;
    }
}

.item {
    composes: item from '../../_molecules/List/themes/InlineBlockList.css';
    @media (--mqPhblt) {
        flex: 1;
    }

    @media(--mqSmtPn) {
        flex-basis: 33.3%;
    }
}


.button {
    composes: root from '../../_atoms/LinkButton/themes/NeonSecondary.css';
    font-size: 1.5rem;

    @media (--mqPhblt) {
        height: 100%;
        text-align: center;
        line-height: 1.5rem;
    }

    @media(--mqSmtPn) {
        height: 100%;
        text-align: center;
        line-height: 1.5rem;
    }
}*/