@import "@g33kchris/fusionkit-css-baseline";
@import "@g33kchris/fusionkit-css-colours";
@import "@g33kchris/fusionkit-css-typography";
@import "@g33kchris/fusionkit-css-layout";

.root {
    /* Structure */
    display: block;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;

    /* Behaviour */
    text-align: center;

    /* Base Costmetic */
    text-decoration: none;
    text-transform: uppercase;   
    /*font-size: 1.3rem;*/
    background-color: var(--outrun_blue);
    color: var(--fskt_white);
    font-family: var(--fskt_lato);

    @apply --grid_xl_12;

    composes: demoHeader from "@g33kchris/fusionkit-css-foundations";
}

.cleartest {
    composes: clearfix from '@g33kchris/fusionkit-css-utilities';
}

.grid{
    
}