@import "@g33kchris/fusionkit-css-colours";

@custom-media --tpServiceLinksTabletMax (width <= 49.94em);

:root {
    --baseColor: var(--outrun_pink);
};

.root {
    margin: 0;
    padding: 0;
    @media (--tpServiceLinksTabletMax) {
        text-align: center;
    }
}

.button {
    transition: background-color 0.2s ease-in;
    background-color: transparent;
    color: var(--fskt_white);

    &:hover {
        background-color: color(var(--baseColor) blackness(20%));
    }

    &:active {
        background-color: color(var(--baseColor) blackness(40%));
    }
}

.twitter, .tumblr, .facebook, .twitch, .youtube, .rss {
    composes: button;
}
