@import "@g33kchris/fusionkit-css-colours";

.root {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQoU2NkmPX8v8uqWAZCgHFUIb4gIi14CAU2SB4AqsYkrtynWg4AAAAASUVORK5CYII=) repeat;
}

.itemHeader {
    background-color: var(--outrun_blue);
}

.itemTitle {
    color: var(--fskt_white);
}

.itemContent {
    background-color: color(var(--fskt_charcoal) alpha(80%));
}

.itemText {
    color: var(--fskt_white);
}

.itemCta {
    transition: background-color 0.2s ease-in;
    color: var(--fskt_white);

    &:hover {
        background-color: color(var(--outrun_pink) blackness(20%));
    }

    &:active {
        background-color: color(var(--outrun_pink) blackness(30%));
    }
}