@import "@g33kchris/fusionkit-css-colours";
@import "@g33kchris/fusionkit-css-responsive";

:root {
    --baseColor: var(--outrun_pink)
};

.root {
    background-color: var(--fskt_white);
    border-bottom: 0.2rem solid var(--baseColor);
    color: var(--fskt_charcoal);
}

.linkButton {
    font-size: 1.5rem;

    @media (--mqPhblt) {
        height: 100%;
        text-align: center;
        line-height: 1.5rem;
    }

    @media(--mqSmtPn) {
        height: 100%;
        text-align: center;
        line-height: 1.5rem;
    }

    &:hover {
        color: var(--fskt_white);
        background-color: color(var(--baseColor));
    }

    &:active {
        color: var(--fskt_white);
        background-color: color(var(--baseColor) blackness(40%));
    }
}