@import "@g33kchris/fusionkit-css-colours";
@custom-media --featuredItems_tpDesktopMin (width >= 55em);
@custom-media --featuredItems_tpTabletMax (width <= 54.94em);

.root {
    @media (--featuredItems_tpDesktopMin) {
        padding: 6rem 0;    
    }
}

.wrapper{
    composes: gridWrapper from '@g33kchris/fusionkit-css-layout';
    width: 100%;
}

.column {
    @media (--featuredItems_tpDesktopMin) {
        lost-masonry-column: 4/12;    
    }

    @media (--featuredItems_tpTabletMax) {
        lost-column: 12/12;    
    }
}

.item {
    background-color: var(--fskt_blandGrey);
}

.itemTitle {
    color: var(--fskt_charcoal);
}

.itemText {
    color: var(--fskt_charcoal);
}

.itemDescription {
    color: var(--fskt_charcoal);
}

.itemCta {
    color: var(--fskt_charcoal);
}