@import "@g33kchris/fusionkit-css-baseline";
@import "@g33kchris/fusionkit-css-colours";

:root {
    --baseColor: var(--outrun_blue)
}

.root {
    background-color: color(var(--baseColor) blackness(20%));
}

.titleHolder {
    margin-bottom: 1rem;
}

.title {
    color: var(--fskt_white);
}

.text {
    color: var(--fskt_white);
}

.button {
    transition: background-color 0.2s ease-in;
    color: var(--fskt_white);

    &:hover {
        background-color: color(var(--outrun_pink) blackness(20%));
    }

    &:active {
        background-color: color(var(--outrun_pink) blackness(30%));
    }
}
