@import "@g33kchris/fusionkit-css-responsive";

@custom-media --navRibbon_tpPhabletMax (width <= 37.25em);

.root {
    composes: gridWrapper from '@g33kchris/fusionkit-css-layout';
    width: 100%;
}

.wrapper {    
    @media (--mqTblt_above) {
        lost-masonry-column: 12/12;   
    }

    @media (--mqTblt_below) {
        lost-column: 12/12;
    }
}

.items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    @media (--mqPhblt_above) {
        flex-direction: row;    
    }

    @media (--mqSmtPn) {
        flex-direction: column;
    }
}

.item {
    flex: 1;
}

.linkButton {}