@import "@g33kchris/fusionkit-css-layout";
@import "@g33kchris/fusionkit-css-responsive";
@import "@g33kchris/fusionkit-css-colours";

.root {
    display: flex;
    flex-direction: column;
}

.rootWrapper {
    background-position-x: center;
    background-size: cover;
}

.ribbon {
    background-color: var(--fskt_charcoal);
}

.ribbonLeft {
    @apply --grid_tblt_3;
}

.ribbonRight {
    @apply --grid_tblt_5;
}

.wrapper {
    composes: gridWrapper from '@g33kchris/fusionkit-css-layout';
    width: 100%;
}

.content {    
    @apply --grid_xl_5;
    @apply --grid_xl_push7;
    @apply --grid_dskTp_6;
    @apply --grid_dskTp_push6;
    @apply --grid_tblt_8;
    @apply --grid_phblt_6;
    @apply --grid_smtPn_4;

    @media (--mqXl) {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    @media (--mqXl_below) {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}