@import "@g33kchris/fusionkit-css-colours";

.header {
    background-color: color(var(--outrun_blue) alpha(90%));
}

.content {
    background-color: color(var(--fskt_charcoal) alpha(80%));
}

.button {
    transition: background-color 0.2s ease-in;
    color: var(--fskt_white);

    &:hover {
        background-color: color(var(--outrun_pink) blackness(20%));
    }

    &:active {
        background-color: color(var(--outrun_pink) blackness(30%));
    }
}
