@import "@g33kchris/fusionkit-css-baseline";
@import "@g33kchris/fusionkit-css-colours";
@import "@g33kchris/fusionkit-css-typography";

.root {
    /* Structure */
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem;
    box-sizing: border-box;
    cursor: pointer;
    white-space: nowrap;
    
    /* Behaviour */
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    /* Base Cosmetic */
    border: none;
    background-color: var(--fskt_blandGrey);
    font-size: 1.3rem;
    font-family: var(--fskt_lato);    
}