@import "@g33kchris/fusionkit-css-colours";
@import "@g33kchris/fusionkit-css-layout";
@import "@g33kchris/fusionkit-css-responsive";

.ribbon {
    background-color: var(--fskt_blandGrey);
}

.ribbonLeft {
    @apply --grid_tblt_3;
}

.ribbonRight {
    @apply --grid_tblt_5;
    text-align: right;

    @media (--mqPhblt) {
        display: block;
        clear: both;
    }

    @media (--mqSmtPn) {
        display: block;
        clear: both;
    }
}

.logo {
    max-height: 10rem;

    @media (--mqTblt_below) {
        max-width: 70%;
    }

    @media (--mqSmtPn) {
        max-height: 7rem;
    }

    @media (--mqSmtPn) {
        max-height: 7rem;
    }
}

.links {  
    @media (--mqTblt_above) {
        max-width: 18rem;
        display: inline-block;    
    }

    @media (--mqPhblt) {
        display: inline-block;
        text-align: center;
        width:100%;
    }

    @media (--mqSmtPn) {
        display: inline-block;
        text-align: center;
        width:100%;
    }
}
