@import "@g33kchris/fusionkit-css-colours";

@font-face {
    font-family: 'open sans';
    src: url("./assets/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }

@font-face {
  font-family: 'digital-7_monoitalic';
  src: url("./assets/digital-7_mono_italic-webfont.eot");
  src: url("./assets/digital-7_mono_italic-webfont.eot?#iefix") format("embedded-opentype"), url("./assets/digital-7_mono_italic-webfont.woff2") format("woff2"), url("./assets/digital-7_mono_italic-webfont.woff") format("woff"), url("./assets/digital-7_mono_italic-webfont.ttf") format("truetype"), url("./assets/digital-7_mono_italic-webfont.svg#digital-7_monoitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'microgramma_d_otMdEx';
  src: url("./assets/microgramma-d-ot-medium-extended_30404-webfont.eot");
  src: url("./assets/microgramma-d-ot-medium-extended_30404-webfont.eot?#iefix") format("embedded-opentype"), url("./assets/microgramma-d-ot-medium-extended_30404-webfont.woff") format("woff"), url("./assets/microgramma-d-ot-medium-extended_30404-webfont.ttf") format("truetype"), url("./assets/microgramma-d-ot-medium-extended_30404-webfont.svg#microgramma_d_otMdEx") format("svg");
  font-weight: normal;
  font-style: normal; }

:root {
    --labelRed: #8e1a0a;
    --circuitBlack: #000;
    --digitalFont: 'digital-7_monoitalic';
    --labelFont: 'microgramma_d_otMdEx';
    --digitRed: #FF6410;
    --digitYellow: #F4CE26;
    --digitGreen: #67FC42;
}

@-webkit-keyframes blink-destination-lights {
  0% {
    background-color: #3E2917;
    box-shadow: inset -1px 2px 3px #ababab; }
  50% {
    background-color: #EFF288;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #304701 0 -1px 4.5px, #EFF288 0 2px 12px; }
  100% {
    background-color: #3E2917;
    box-shadow: inset -1px 2px 3px #ababab; } }

@keyframes blink-destination-lights {
  0% {
    background-color: #3E2917;
    box-shadow: inset -1px 2px 3px #ababab; }
  50% {
    background-color: #EFF288;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #304701 0 -1px 4.5px, #EFF288 0 2px 12px; }
  100% {
    background-color: #3E2917;
    box-shadow: inset -1px 2px 3px #ababab; } }

/* Start of Shared Classes */

.label{
    font-family: var(--labelFont);
    font-weight: 600;
    letter-spacing: 0.2rem;
    display: block;
}

.dateLabel {
    composes: label;
    background-color: var(--labelRed);
    color: var(--fskt_white);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: .8rem;
    margin-bottom: 0.5rem;
    @media screen and (max-width: 460px) {
        display: none;
    }
}

.lcd {
    background-color: var(--circuitBlack);
    font-family: var(--digitalFont);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-right: 0.5rem;

    @media screen and (min-width: 461px) {
        font-size: 3rem;
    }

    @media screen and (max-width: 460px) {
        font-size: 2rem;
    }
}

.consoleMonth {
    text-align: center;
}

.consoleDisplay {
    font-family: var(--digitalFont);
}

.fadedEights {
    position: absolute;
    opacity: .15;
}

.labelAmPm{
    background-color: var(--labelRed);
    color: var(--fskt_white);
    font-size: 0.5rem;
    padding: 0.2rem;
}

.indicatorLight{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 0.3rem;
}

.lightOn{
    background-color: #EFF288;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 7px 1px, inset #304701 0 -1px 4.5px, #EFF288 0 2px 12px;
}

.lightOff{
    background-color: #3E2917;
    box-shadow: inset -1px 2px 3px #ababab;
}

.amLight{
    margin: 0.5rem 0;
    display: inline-block;
}

.pmLight{
    margin: 0.5rem 0;
    display: inline-block;
}

.colonLight {
    -webkit-animation: blink-destination-lights 1s step-start infinite;
    animation: blink-destination-lights 1s step-start infinite;
}

/* End of Shared Classes */

.row {
    margin-bottom: 2rem;
}

.monthLabel {
    composes: dateLabel;
}

.dayLabel {
    composes: dateLabel;
}

.yearLabel {
    composes: dateLabel;
}

.hourLabel {
    composes: dateLabel;
}

.minLabel {
    composes: dateLabel;
}

.monthFadedEights {
    composes: fadedEights;
    text-align: center;
}

.dayDigit {
    composes: lcd;
    composes: consoleDisplay;
}

.monthDigit {
    composes: lcd;
    composes: consoleMonth;
    composes: consoleDisplay;
}

.yearDigit {
    composes: lcd;
    composes: consoleDisplay;
}

.hourDigit {
    composes: lcd;
    composes: consoleDisplay;
}

.minDigit {
    composes: lcd;
    composes: consoleDisplay;
}

.dayFadedEights, .hourFadedEights, .minFadedEights {
    composes: fadedEights;
}

.yearFadedEights {
    composes: fadedEights;
}

.consoleAmPm {
    composes: consoleDisplay;
    position: relative;
    top: 1rem;
    @media screen and (max-width: 460px) {
        display: none;
    }
}

.amLabel {
    composes: label;
    composes: labelAmPm;
    @media screen and (max-width: 460px) {
        display: none;
    }
}

.pmLabel{
    composes: label;
    composes: labelAmPm;
    bottom: -0.6rem;
    left: 2rem;
    @media screen and (max-width: 460px) {
        display: none;
    }
}

.amLightOn{
    composes: indicatorLight;
    composes: lightOn;
    composes: amLight;
}

.amLightOff{
    composes: indicatorLight;
    composes: lightOff;
    composes: amLight;
}

.pmLightOn{
    composes: indicatorLight;
    composes: lightOn;
    composes: pmLight;
}

.pmLightOff{
    composes: indicatorLight;
    composes: lightOff;
    composes: pmLight;
}

.consoleColonLights {
    composes: consoleDisplay;
    position: relative;
    width: 14px;
}

.indicatorLightTop {
    composes: colonLight;
    composes: indicatorLight;
    composes: lightOn;
}

.indicatorLightBottom {
    composes: colonLight;
    composes: indicatorLight;
    composes: lightOn;
}

.footerLabel {
    composes: label;
    letter-spacing: 3px;
    background-color: black;
    color: white;
    margin-top: 10px;
    text-align: center;
    font-size: 1rem;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.destinationMonth {
    composes: monthDigit;
    color: var(--digitRed);
}

.destinationDay {
    composes: dayDigit;
    color: var(--digitRed);
}

.destinationYear {
    composes: yearDigit;
    color: var(--digitRed);
}

.destinationHour {
    composes: hourDigit;
    color: var(--digitRed);
}

.destinationMin {
    composes: minDigit;
    color: var(--digitRed);
}

.presentMonth {
    composes: monthDigit;
    color: var(--digitYellow);
}

.presentDay {
    composes: dayDigit;
    color: var(--digitYellow);
}

.presentYear {
    composes: yearDigit;
    color: var(--digitYellow);
}

.presentHour {
    composes: hourDigit;
    color: var(--digitYellow);
}

.presentMin {
    composes: minDigit;
    color: var(--digitYellow);
}

.pastMonth {
    composes: monthDigit;
    color: var(--digitGreen);
}

.pastDay {
    composes: dayDigit;
    color: var(--digitGreen);
}

.pastYear {
    composes: yearDigit;
    color: var(--digitGreen);
}

.pastHour {
    composes: hourDigit;
    color: var(--digitGreen);
}

.pastMin {
    composes: minDigit;
    color: var(--digitGreen);
}

.digits {
    text-align: center;
}

.labels {
    text-align: center;
}

.month, .day, .year, .hour, .min, .amPm, .colon {
    display: inline-block;
    margin: 0 0.3rem;
}

.amPm {
    width: 3.5rem;
}