@import "@g33kchris/fusionkit-css-layout";
@import "@g33kchris/fusionkit-css-responsive";
@import "@g33kchris/fusionkit-css-colours";

:root {
    --logoPixelColor: var(--fskt_white);
    --logoShadowColor: var(--fskt_black);
    --logoLetteringStroke: var(--fskt_black);
    --logoLetteringColor: var(--fskt_white);
}

.root {
    display: inline-block;

    @media (--mqXl) {
        height: 100%;
    }

    @media (--mqDsktp) {
        height: 100%;
    }

    @media (--mqTblt) {
        width: 100%;
    }

    @media (--mqPhblt) {
        width: 100%;
    }

    @media(--mqSmtPn) {
        width: 100%;
    }
}

.logoPixel {
    fill-opacity: 0.2;
    stroke-opacity: 0;
}

.logoPixel1 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel2 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel3 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel4 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel5 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel6 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel7 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel8 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel9 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel10 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel11 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel12 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel13 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel14 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel15 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel16 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel17 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel18 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel19 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel20 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel21 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel22 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel23 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel24 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel25 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel26 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel27 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel28 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel29 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel30 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel31 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel32 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel33 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel34 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel35 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel36 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel37 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel38 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel39 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel40 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel41 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel42 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel43 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoPixel44 {
    composes: logoPixel;
    fill: var(--logoPixelColor);    
}

.logoShadow {
    fill: var(--logoShadowColor);
}

.logoLettering {
    fill: var(--logoLetteringColor);
    stroke: var(--logoLetteringStroke);
    stroke-width: 0.1rem;
    stroke-opacity: 1;
}
