@import "@g33kchris/fusionkit-css-colours";

:root {
    --baseColour: var(--outrun_pink);
}

.root {
    background-color: var(--baseColour);
}

.linkButton {
    padding: 2rem;
    color: var(--fskt_white);

    &:hover {
        background-color: color(var(--outrun_pink) blackness(20%));
    }

    &:active {
        background-color: color(var(--outrun_pink) blackness(30%));
    }
}